.rounded {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 4px;
}

div.module + cite {
	position: relative;
	top: -1em;
	margin: 0;
	padding: 7px 0px 0px 15px;
	background: transparent url(/theme/images/tip.gif) no-repeat 20px 0;
	font-style: normal;
	font-size: small;
}

div.module.unrounded + cite {
	top: -0.9em;
}

div.module.bquote + cite {
	top: -0.8em;
}

div.module.rounded + cite {
	margin: 0px;
	background: transparent url(/theme/images/tip-rounded.gif) no-repeat 15px 0;
}

div.module.pimped {
	color: #fff;
	border: 3px solid #fff;
	background-color: #111 !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.module.pimped + cite {
	background: transparent url(/theme/images/tip-pimped.gif) no-repeat 20px 0;
}

div.module {
	margin: auto 10px 14px 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 0.9em;
	background-color: #B7E0FF !important;
	border: 3px solid #FFFFFF;
}

div.module.unrounded {
	background-color: white !important;
	border: 1px solid #c9c2c1 !important;
	padding: 5px;
}

div.module.sidebar {
	width: 250px;
}
