body {
 width: 100% !important;
}

div#footer, div#rightbar, div#push {
 display: none;
}

div#banner {
 background-image: none;
 height: auto !important;
}

div#banner h1 a {
 text-indent: 0 !important;
 color: black;
 text-align: center;
 height: auto !important;
}

span.print {
 display: inline;
}
 
div#cleardiv {
 clear: none;
}

div#content {
 width: 100%;
}

div.post-title {
 width: 90%;
}

