/* Four Island CSS */

body {
 background-repeat: repeat-x;
 background-attachment: fixed;
 background-position: bottom left;
 font-family: Arial, FreeSans;
 margin: 0px;
 padding: 0px 0px 30px !important;
}

body.fourm {
 font-family: Verdana, Helvetica, Arial, sans-serif;
}

/* Effects */

::selection {
	background: pink;
}
::-moz-selection {
	background: pink;
}

form textarea:focus, form input:focus {
 border: 2px solid #900;
 background-color: #FEFFB2;
}

/* Links */

a:link {
 color: blue;
 font-weight: bold;
 text-decoration: none;
}

a:visited {
 color: blue;
 text-decoration: none;
}

a:hover, a:focus {
 color: blue;
 font-weight: bold;
 text-decoration: none;
 font-variant: small-caps;
 text-transform: capitalize;
}

a:active {
 color: blue;
 text-decoration: none;
}

a img {
 border: 0;
}

/* Random Elements */

* {
 margin:0pt;
 padding:0pt;
}

p {margin-top: 1em;}
ul, ol {margin-top: 1em; margin-bottom: 1em}

img.center, img[align="center"] {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

acronym, abbr, span.caps {
 cursor: help;
}

acronym, abbr {
 border-bottom: 1px dashed #999;
}

blockquote {
 padding-left: 10px;
 border-left: 3px solid #CCC;
 font-family: Helvetica, sans-serif;
 font-size: 14px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 50px;
}

pre {
 line-height: 12px;
}

/* Banner */
		
div#banner, div#fi-banner {
 background-repeat: no-repeat;
 width: 900px; /*728*/
 height: 200px;
 float: left;
/* margin-top: 21px; */
}

div#banner {
 background-image: url("/theme/images/fourisland_header.png");
 background-position: center;
 background-color: white;
 width: 100%;
}

body div#banner h1, body div#fi-banner h1 {
 margin: 0;
}

body div#banner h1 a, body div#fi-banner h1 a {
 display: block;
 width: 900px;
 height: 200px;
 text-indent: -5000px;
 text-decoration: none;
 margin: 0;
}

div#banner h1, div#fi-banner h1 {
 margin: 0;
 font-size: 3.0em;
 font-weight: normal;
}

/* NavBar */

div#fi-navbar {
 position: relative;
 background-color: #b7e0ff;
 width: auto;
 margin-bottom: 14px;
 font: 0.9em "Lucida Grande", Lucida, Verdana, sans-serif;
}

div#fi-navbar div {
 padding: .001em 0;
 margin: 10px;
}

div#fi-navbar ul {
 margin-top: .25em;
 margin-bottom: .25em;
 padding-left: 1em;
 text-align: center;
}

div#fi-navbar ul li {
 display: inline;
 font-family: Verdana, sans-serif;
 font-size: 1.1em;
}

div#fi-navbar ul li+li:before {
 content: " - ";
}

div#fi-navbar ul li img {
 display: none;
}

div#fi-navbar ul li.active a {
 display: none;
}

div#fi-navbar ul li.active img {
 display: inline;
 background-color: white;
 outline: white solid .5em;
 margin-left: .5em;
 margin-right: .5em;
}

div#fi-navbar div.bubble blockquote {
 background: none;
 font-size: 0.9em;
}

div#fi-navbar div.bubble blockquote a {
 color: blue;
}

/* Sidebar */

div#rightbar {
 float: left;
 width: 250px; /*210*/
}

div.sidebar {
 width: 250px; /*250*/ /*240*/ /*210*/
 padding: 0 10px;
 margin-bottom: 5px;
}

div.sidebar h3 {
 font-family: Verdana, Helvetica, Arial, sans-serif;
 margin: 5px 0 0 0;
 font-weight: bold;
 color: #333333;
}

div.sidebar p {
 font-size: 0.8em;
 margin: 3px 0;
}

div.sidebar ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
 line-height: normal !important;
 list-style-image: none !important;
}
							
div#sidebar ul li {
 margin-top: 4px;
}
				
div#sidebar ul li a {
 display: block;
 width: 230px;
}

div#sidebar li img {
 border: 0;
 height: 16px;
 width: 16px;
}

/* Layout */

#wrap {
 width: 910px;
 margin: 10px auto;
 text-align: left;
 padding: 0;
/* background-image: url(/theme/images/bg_body.gif);
 background-repeat: repeat-y; */
 background-color: white;
 background-color: rgba(255, 255, 255, 0.5);
 border: 4px solid gray;
}

#page-body {
 margin: 0 30px;
 clear: both;
 position: relative;
}

body.fourm #page-body {
 margin-left: 25;
 margin-right: 10;
 width: 95%;
 font-size: 62.5%;
}

#phpBB3-page-body {
 margin: 4px 0 !important;
 clear: both;
}

/* Content */
															
div#content {
 float: right;
 width: 555px; /*465*/ /*555*/
}

body#day div#page div#content code {
 display: block;
 border: solid black 1px;
 background-color: #FFFF64;
 width: 485px;
 overflow: visible;
}

div#content h2 {
 color: #59770e;
 margin: 0px 0px 2px;
 border-bottom: 1px dotted #CCCCCC;
 letter-spacing: -1px;
 font: normal 140%/100% "Trebuchet MS", Tahoma, Arial;
 padding-bottom: 3px;
}

/* Random Divs/Spans */

div.cleardiv {
 clear: both;
}
				
div#footer {
 clear: both;
 padding-bottom: 1em;
 padding-top: .5em;
 margin-top: .5em;
 text-align: center;
 font-size: .68em;
 border-top: 1px black solid;
}

div#footer ul.rows li {
 display: list-item;
}

div#footer ul {
 padding: 0;
 margin: 0;
 list-style-type: none;
}

div#footer ul li {
 display: inline;
 margin-right: 1em;
}

div#footer ul li img {
 width: 20px;
 height: 20px;
 vertical-align: top;
}

div#content ul {
 list-style: url(/theme/images/bullet_disk_big.png);
}

div#content a img {
 border: solid transparent 1px;
}

div#content a:hover img {
 border: dashed gray 1px;
}

div#hatbar.quotes-options ul {
 list-style: none;
}

div.autosize {
 margin-bottom: 6px !important;
}

ul blockquote, ol blockquote {
 position: relative;
 left: -3em;
 width: 110%;
}

li+br {
 display: none;
}

/* Tables */

table.webmail {
 border: 0;
 width: 100%;
}

table.webmail, table.webmail td {
 border-spacing: 0;
}

table.webmail tr {
 background-color: #3CE4ED;
}

table.webmail tr.even {
 background-color: #39B7CD;
}

table.webmail th {
 background-color: #FF9912;
 text-align: left;
}

table.webmail td {
 word-wrap: break-word;
}
