* {
	margin: 0;
	padding: 0;
}

/* Effects */

/* NOTE: The ::selection and ::-moz-selection groups below, while 
 * containing the same code, do not, for some reason, work when put 
 * together
 */

::selection {
	background: pink;
}

::-moz-selection {
	background: pink;
}

form textarea:focus, form input:focus {
	border: 2px solid #900;
	background-color: #FEFFB2;
}

/* Links */

a:link {
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

a:visited, a:active {
	color: blue;
	text-decoration: none;
}

a:hover, a:focus {
	color: blue;
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
	text-transform: capitalize;
}

a img {
	border: 0;
}

/* Body */

body {
	font-family: "Lucida Grande", "Arial", sans;
	background-color: #111;
}

div#header {
	width: 100%;
	height: 200px;
	background-image: url(http://fourisland.com/theme/images/header-repeat.png);
	background-repeat: repeat-x;
}

div#banner {
	width: 800px;
	height: 200px;
	margin: 0 auto;
	background-image: url(http://fourisland.com/theme/images/header.png);
	background-position: bottom right;
}

div#header a {
	width: 800px;
	height: 200px;
	text-indent: -5000px;
	display: block;
}

div#sidebar {
	width: 21%;
	float: left;
}

div#content {
	width: 69%;
	float: right;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
}

div#content div.rounded {
	padding: 10px;
}

div#footer {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

div#footer div.foot-module {
	margin: 0 auto;
	float: left;
	width: 20%;
	margin-left: 4%;
	color: white;
	font-size: 0.9em;
}

div#footer a {
	color: white;
	border-bottom: 1px dotted white;
}

div#footer div.foot-module ul {
	list-style-type: square;
}

div#footer p {
	font-size: 0.5em;
	color: white;
	text-align: center;
}

div#page-content {
	background-color: #00ff00; /*#8B4513;*/
	padding-bottom: 10px;
}

body[id^=fourm] div#page div#content code {
	display: block;
	border: solid black 1px;
	background-color: #FFFF64;
	width: 485px;
	overflow: visible;
}

body[id^=fourm] div#content h2 {
	color: #59770e;
	margin: 0px 0px 2px;
	border-bottom: 1px dotted #CCCCCC;
	letter-spacing: -1px;
	font-size: 140%;
	padding-bottom: 3px;
}

body#fourm div#actual-content {
	font-size: 60%;
}

ul#navbar {
	text-align: center;
	margin-top: 0;
}

ul#navbar li {
	display: inline;
	font-family: Verdana, sans-serif;
	font-size: 1.1em;
}

ul#navbar li+li:before {
	content: " - ";
}

ul#navbar li img, ul#navbar li.active span {
	display: none;
}

ul#navbar li.active img {
	display: inline;
	background-color: white;
	outline: white solid .5em;
	margin: 0 .5em;
}

.invisible {
	display: none;
}

a img {
	border: 0;
}

p {
	margin-top: 1em;
}

ul, ol {
	margin-top: 1em;
	margin-bottom: 1em;
}

.center, img[align="center"] {
	display: block;
	margin: 0 auto !important;
}

acronym, abbr, span.caps {
 cursor: help;
}

acronym, abbr {
 border-bottom: 1px dashed #999;
}

pre {
	background: #eee; 
	padding: 10px; 
	border: 2px solid #c94a29; 
	overflow: auto;
	margin: 15px 0;
	font-family: Courier, Monospace;
}

ul pre, ol pre {
	margin-left: -3em;
}

div.autosize {
	margin-bottom: 6px !important;
}

ul blockquote, ol blockquote {
	position: relative;
	left: -3em;
	width: 110%;
}

.comment ul, .comment ol {
	margin-left: 3em;
}

ul div.bquote blockquote, ol div.bquote blockquote {
	left: 0;
}

li+br {
	display: none;
}

/* Tables */

table.webmail {
	border: 0;
	width: 100%;
}

table.webmail, table.webmail td {
	border-spacing: 0;
}

table.webmail tr {
	background-color: #3CE4ED;
}

table.webmail tr.even {
	background-color: #39B7CD;
}

table.webmail th {
	background-color: #FF9912;
	text-align: left;
}

/* Sidebar */

div#rightbar {
	float: left;
	width: 270px; /*210*/
}

div.sidebar {
	width: 250px; /*250*/ /*240*/ /*210*/
	padding: 0 10px;
	margin-bottom: 5px;
}

div.sidebar h3 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin: 5px 0 0 0;
	font-weight: bold;
	color: #333333;
}

div.sidebar p {
	font-size: 0.8em;
	margin: 3px 0;
}

div#sidebar ul.hatnav {
	list-style-type: none;
	padding-left: 24px;
	margin-top: 0 !important;
	line-height: normal !important;
	list-style-image: none !important;
}

div#sidebar ul {
	list-style-type: none;
}
							
div#sidebar ul.hatnav li {
	text-align: right;
	border: 1px gray solid;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #111;
	color: white;
}
				
div#sidebar ul.hatnav li a {
	display: block;
	width: 95%;
	color: white;
}

div#sidebar li img {
	border: 0;
	height: 16px;
	width: 16px;
}

div#sidebar ul.hatnav li.active {
	background-color:#00FF00;
	border: none;
}

div#sidebar ul.hatnav li:hover {
	background-color:yellow;
	border: none;
}

div#sidebar ul li.active a, div#sidebar ul li a:hover {
	color: black;
}

div.cleardiv {
	clear: both;
}

.nobr {
	white-space: nowrap;
}

textarea {
	width: 99%;
}

div#flash {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: yellow;
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid black;
	display: none;
	z-index: 9999;
}
