* {
	margin: 0;
	padding: 0;
}

/* Effects */

/* NOTE: The ::selection and ::-moz-selection groups below, while 
 * containing the same code, do not, for some reason, work when put 
 * together
 */

::selection {
	background: pink;
}

::-moz-selection {
	background: pink;
}

form textarea:focus, form input:focus {
	border: 2px solid #900;
	background-color: #FEFFB2;
}

/* Links */

a:link {
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

a:visited, a:active {
	color: blue;
	text-decoration: none;
}

a:hover, a:focus {
	color: blue;
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
	text-transform: capitalize;
}

a img {
	border: 0;
}


body[id^=fourm] div#page div#content code {
	display: block;
	border: solid black 1px;
	background-color: #FFFF64;
	width: 485px;
	overflow: visible;
}

body[id^=fourm] div#content h2 {
	color: #59770e;
	margin: 0px 0px 2px;
	border-bottom: 1px dotted #CCCCCC;
	letter-spacing: -1px;
	font-size: 140%;
	padding-bottom: 3px;
}

.invisible {
	display: none;
}

a img {
	border: 0;
}

p {
	margin-top: 1em;
}

ul, ol {
	margin-top: 1em;
	margin-bottom: 1em;
}

.center, img[align="center"] {
	display: block;
	margin: 0 auto !important;
}

acronym, abbr, span.caps {
 cursor: help;
}

acronym, abbr {
 border-bottom: 1px dashed #999;
}

pre {
	background: #eee; 
	padding: 10px; 
	border: 2px solid #c94a29; 
	overflow: auto;
	margin: 15px 0;
	font-family: Courier, Monospace;
}

ul pre, ol pre {
	margin-left: -3em;
}

div.autosize {
	margin-bottom: 6px !important;
}

ul blockquote, ol blockquote {
	position: relative;
	left: -3em;
	width: 110%;
}

.comment ul, .comment ol {
	margin-left: 3em;
}

ul div.bquote blockquote, ol div.bquote blockquote {
	left: 0;
}

li+br {
	display: none;
}

/* Tables */

table.webmail {
	border: 0;
	width: 100%;
}

table.webmail, table.webmail td {
	border-spacing: 0;
}

table.webmail tr {
	background-color: #3CE4ED;
}

table.webmail tr.even {
	background-color: #39B7CD;
}

table.webmail th {
	background-color: #FF9912;
	text-align: left;
}

div.cleardiv {
	clear: both;
}

.nobr {
	white-space: nowrap;
}

textarea {
	width: 99%;
}

div#flash {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: yellow;
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid black;
	display: none;
	z-index: 9999;
}
